/*-------- general -------*/

* {margin:0;padding:0;} 

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

html{height: 100%;}

body{
	font-family: Helvetica, Arial, sans-serif;
	font-size:14px;
	background-color:#eee;
	height: 100%;
	line-height: 140%;
}

a {
  color: #00a5cf;
  text-decoration: none;
}

a:hover {
  color: #00cbff;
	text-decoration:none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	line-height: 105%;
	margin-bottom: 5px;
}

h1,
h1 a {
	font-size: 64px;
  text-decoration: none;
	color: #222;
	padding: 30px 0px 0px 0px;
	font-family: Arial;
	text-transform: uppercase;
	line-height: 70%;
}

h2,
h2 a{
	font-size: 26px;
  text-decoration: none;
	font-family: Arial;
	margin-bottom: 15px;
	color: #222;
}

h3,
h3 a {
	font-size: 25px;
    text-decoration: none;
}

h4,
h4 a {
	font-size: 20px;
    text-decoration: none;
}

h5,
h5 a {
	font-size: 18px;
    text-decoration: none;
}

h6,
h6 a {
	font-size: 15px;
    text-decoration: none;
}

/*-------- main layout elements -------*/
#wrap{min-height: 100%;}

#allbutend{
	overflow: auto;
}

#top{
	width: 100%;
	background-image: url('images/lightbluefuzz.png');
	color: #000;
	height: 40px;
	padding-top: 8px;
	padding-bottom:8px;
	border-bottom: 3px solid #005988;
}

.fixed{
	width: 960px;
	margin: 0 auto;
}

#branding{
	color: #0070ac;
	padding-top: 10px;
	height:80px;
}

#featured{
	clear:both;
}

#box{
	clear:both;
	position:relative;
	margin: 10px 0px;
}

#main-menu{
	float: left;
	width: 700px;
	font-size: 18px;
}

#main-menu ul{
	list-style:none; 
	background:none;
}
#main-menu-links{
	padding: 5px;
	margin: 5px 0px;
}

#main-menu-links a{color: #fff;}

#main-menu-links a:hover{color: #000;}

#main-menu ul li{
	display: inline;
	margin-right: 15px;
}

#block-system-main-menu h2{visibility: hidden;}

#main{
	position:relative;
	width: auto;
	height: 100%;
	overflow: hidden;
	margin-bottom:15px;
}

#content{
	color: #000;
	font-size: 100%;
	padding: 20px;
	height: 100%;
}

#topright{
	color: #fff;
	padding: 30px 20px;
	background-color:#006fab;
	background-image: url('images/lightbluefuzz.png');
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height: 190px;
	width: 200px;
	float:right;
	margin:5px 0px 15px 0px;
}

#footer{
	clear: both;
	width: 100%;
	color: #fff;
	padding: 15px 0px;
}

#end{
	position: relative;
	clear: both;
	width: 100%;
	background-image: url('images/darkbluefuzz.png');
	color: #fff;
	padding-top: 15px;
	border-top: 3px solid #005988;
	padding-bottom:15px;
}
/*-------- branding elements -------*/

#logo{
	float:left;
	padding-right:10px;
}

#sitename{ 
	float:left;
}

#sitename h1,
#sitename h1 a{
	color: #0070ac;
	padding: 20px 0px 0px 0px;
}

#sitename h1 a:hover{
	color: #000;
	padding: 0px;
}

.social{
	float:right;
	padding-top:35px;
}
.social img{
	padding: 5px 10px 0px 0px;
}
/*-------- sidebars -------*/

.bar{
	color: #000;
	padding: 30px 20px;
	background-color: #fff;
	margin-left: 15px;
	position:relative;
	height:100%;
	width: 200px;
	float:left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/*-------- body classes ------*/

body.one-sidebar #content {
	width: 665px;
	padding: 20px;
	position: relative;
	background: #fff;
	float:left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

body.two-sidebars #content {
	width: 410px;
	padding: 20px;
	position: relative;
	background: #fff;
	float:left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

body.no-sidebars #content {
	width: 940px;
	padding: 20px;
	position: relative;
	background: #fff;
	float:left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
/*-------- search -------*/

#search{
	float:right;
}

#search-block-form{
	width: 245px;
	float: right;
	margin-right: -5px;
}

.form-item-search-block-form input.form-text,
.form-item-search-block-form input[type=text]{
	width: 184px;
	height:18px;
  border: solid 2px #ddd;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
	padding:5px;
	margin-right:5px;
}

#search-block-form input.form-submit,
#search-form input.form-submit {
  margin-left: 0;
  margin-right: 0;
  height: 30px;
  width: 30px;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
  text-transform: capitalize; /* make text indent work in ie */
	border: 0;
  background: url('images/search.png') no-repeat center top;
	background-color: #444;
	-moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
}

/*-------- footer regions -------*/
.footerblock{
	width: 270px;
	padding:20px;
	float:left;
	background-image: url('images/lightbluefuzz.png');
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
	margin-right:15px;
}

.footerblock h2{
	color: #fff;
}

.footerblock.last{
	margin-right: 0px;
}

.credits{
	clear:both;
	width: 100%;
}
/*-------- nodes and common elements -------*/

.node, .node-teaser{
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.node-teaser{border-bottom: 1px dashed #888;}

#main .content img{
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.content h2{margin-bottom: 10px;}

p{margin-bottom: 10px;}

ul.pager{
	padding-top: 15px;
	font-size: 12px;
}

.item-list .pager {
	text-align: left;
}

.item-list .pager li{ 
	padding: .05em;
}
	
.more-link{
	margin-bottom: 10px;
}

/*-------- blocks -------*/

#block-system-powered-by{padding: 15px 0px;}

#block-node-recent .content {
	margin-left: -20px;
	width: 236px;
}

#block-node-recent .title-author{
	padding: 20px;
}

.block h2{
	font-size: 24px;
}

.bar .block {margin-bottom: 25px;}

/*-------- meta styles -------*/

.submitted{
	color: #000;
	margin-bottom: 10px;
}

.user-picture{clear: both;}

/*-------- link styles -------*/

ul.inline li {
	padding:0px;
}

/*-------- taxonomy and tags -------*/

.taxonomy{
	background:#e7e7d6;
	padding:0.3em 0.6em; 
	border:1px dashed #fff; 
	margin-top:5px;
} 

.field-name-field-tags .field-item{
	display:inline;
	padding: 0px 10px 0px 0px;
}

.field-name-field-tags .field-item a{
	background-color: #eee;
	color: #000;
	padding: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.field-name-field-tags .field-items{
	margin-bottom:10px;
}

.field-name-field-tags .field-item a:hover{
	background-color: #000;
	color: #fff;
}
.field-type-taxonomy-term-reference .field-label{
	color: #333;
	text-transform: uppercase;
	margin:15px 0px 8px 0px;
	font-size: 13px;
	clear: both;	
}
/*-------- tables -------*/

table tr td{
  background-color:#222;
	color: #fff;
	padding: 10px;
}
/*-------- comments -------*/
#comments{margin-top: 40px;}

#comments h2{
	padding: 0px 0px 10px 0px;
	margin-bottom: 10px;
	border-bottom: 1px solid #999;
}

#comments ul.links a{color: #fff;}

#comments ul.links a:hover{color: #333;}

.comment{
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px dashed #888;
}

/*-------- forms -------*/
input, select, textarea, button {
  font-family: Helvetica, Arial, sans-serif;  
}

input.form-text,
input[type=text]{
	height:18px;
  border: solid 2px #ddd;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
	padding:5px;
	margin-right:5px;
	font-size:16px;
	margin-top:3px;
}

textarea.form-textarea, textarea {
  background-color: #fff;
  border: solid 1px #666;
  padding: 10px;
}

button,
input[type=submit],
input.form-submit,
.form-actions a,
.form-actions a:visited,
.button, a.button, a.button:visited {
  background: #eee;
  border: 1px solid #ddd;
  border-bottom-color: #ccc;
  border-right-color: #ccc;
  color: #333;
  font-size: 13px;
  padding: 4px;
  margin: 4px;
  overflow: hidden;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/*--- SLIDESHOW --*/

#slideshow {
	width:960px;
	height:380px;
	position:relative;
	margin-top:20px;
}

#slides {
	position:absolute;
	top:0px;
	left:0px;	
	z-index:100;
}

.slides_container {
	width:930px;
	overflow:hidden;
	position:relative;
	display:none;
	border:15px solid #fff;
}

.slides_container div.slide {
	width:930px;
	height:300px;
	display:block;
}

#slides .next,#slides .prev {
	position:absolute;
	top:130px;
	left:-30px;
	width:30px;
	height:30px;
	display:block;
	z-index:101;
}

#slides .next {
	left:960px;
}

.pagination {
	margin:20px auto 0;
	width:110px;
}

.pagination li {
	float:left;
	margin:0 5px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

.caption {
	z-index:500;
	position:absolute;
	bottom:-300px;
	left:600px;
	height:255px;
	padding:20px 30px 25px 20px;
	background:#000;
	background:rgba(0,0,0,.5);
	width:280px;
	font-size:1.3em;
	line-height:1.33;
	color:#fff;
	text-shadow:none;
}